<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='1_product_upload.css') }}">
        <script src="{{ url_for('static', filename='1_product_upload.js') }}" defer></script>
        <script src="{{ url_for('static', filename='1_id_certificate') }}" defer></script>
    
</head>
<body>
    {% extends "index.html" %}
    
    {% block section %}
           <content>
            <div class="status">
                <p style="font-size:23px" > 상품 등록 </p> 
            </div> 
        </content>

    <form action="/product_detail" method="post" enctype="multipart/form-data">
        
 

        <content class="content2">

            <div class="wrapping">

            <div class="upside">

            <div class="img-upload">
                <div id="image-container">
                    <input type="file" name="file" accept="image/*" multiple id="image-upload-input"required>
                </div>
            </div>

            

            <div class="info-upload">
                <span class="texts">
                상품 명  <br>
                상품 설명 제목 <br>
                가격 (1000원 이상) <br>
                상품 상태<br>
                카테고리<br>
                <input type="checkbox" class="checkbox-bigger" name="placebox" id="placebox">  직거래 지역
            </span>
 
                <span class="inputs">
                    <input type="text" name="name" id="name" class="c" required />
                    <input type="text" name="title" id="title" class="c" required />
                    <input type="text" name="price" id="price" class="c" required />
                    <label for="product-status" class="c"></label>
                <select id="productstatus" name="productstatus" style="margin-top:12px;" class="c">
                    <option value="boxing">미개봉</option>
                    <option value="unboxingnew">개봉 새상품</option>
                    <option value="unboxing">중고</option>
                </select>
                <select id="category" name="category-select" style="margin-top:10px;" class="c">
                        <option value="cloth">옷</option>
                        <option value="food">음식</option>
                        <option value="furniture">가구</option>
                        <option value="Electronics">전자</option>
                        <option value="etc">기타</option>
                    </select>
                    <input type="text" id="place" name="place"/>

                </span>

            </div>
                
                 </div>

            <div class="info-text" id="info-text" name="info-text">
                <p>상품 설명(10자 이상)</p>
                <textarea name="info" id="info" cols="75%" rows="10" placeholder="상품의 정보, 상태, 거래 방법, 연락처 등 상품에 대한 정보를 알기 쉽게 작성해주세요." required></textarea>
                
            </div>
            <div class="idcerti">
                <label for="seller-id"><br>판매자 ID</label>
                <input type="text" id="seller-id" name="seller-id">
                <button id="authenticate-button">인증</button>
                <div id="message"></div>
            </div>
                
            </div>

            <input type="submit"  class="upload-button"  value="상품 등록하기" style="border:none;"><br><br>

            </content>
    </form>
     {% endblock section %}
    </body>
    
    </html>