<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-height, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='2_home.css') }}" />
    </head>
    <body>
        {% extends "index.html" %} {% block section %}

        <div class="rside">
            <div class="upper">
                <div class="sort" style="font-weight: bold;">
                    <a href="/home.html">가격순 정렬</a>
                </div>
                <a href="/product_upload" class="upload-button" style="font-weight: bold;">상품 등록하기</a>
            </div>

            {% if total > 0 %}

            <table>
                <tr>
                    {% for key, value in datas %}
                    <td>
                        <div id="product-container">
                            <a
                                onclick="location.href='/product_detail/{{key}}/';"
                                style="cursor: pointer;"
                            >
                                <div class="product">
                                    <span class="product-img">
                                        <img
                                            src="static/images/{{ value.img_path }}"
                                            alt="product image"
                                        />
                                    </span>
                                    <div class="product-info">
                                        <p style="font-size: 25px; font-weight: bold;">{{ key }}</p>
                                        <p style="font-size: 18px;">
                                            {{ value.price }}원<br/>
                                            {{ value.sellerid }}<br/>
                                            36.5<br />
                                            <span style="color: orange; font-size: 15px;"
                                                >★★★★★(2)</span
                                            >
                                            <br />
                                            <img
                                                src="{{ url_for('static', filename='images/10_wishbutton.png') }}"
                                                alt="wishbutton"
                                                style="width: 45px; height: 45px;"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </td>
                    {% if loop.index % 3 == 0 %}
                </tr>
                <tr>
                    {% endif %} {% endfor %}
                </tr>
            </table>
            <br /><br /><br />
            <hr style="border: 1.5px solid black;" />
            <!-- 페이지네이션을 위한 코드 시작 -->
            <div class="page-wrap">
                <div class="page-nation">
                    <ul>
                        <li>
                            {% for i in range(page_count)%}
                            <a href="{{url_for('view_home', page=i)}}" color="black">{{i+1}}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <p>
                등록된 상품이 없습니다.
            </p>
            {% endif %}
            <style>
    .page-nation li{
        list-style: none;
    }
    .page-wrap{
        text-align: center;
        font-size: 0;
    }
    .page-nation{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .page-nation a{
        display: block;
        margin: 0 3px;
        float: left;
        border: 1px solid #e6e6e6;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        background-color: #fff;
        font-size: 13px;
        color: black;
        text-decoration: none;
        font-weight:bold;
}

</style>
        </div>

        {% endblock section %}
    </body>
</html>