<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="{{ url_for('static', filename='4_review_upload.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
     <script src="{{ url_for('static', filename='4_review_upload.js') }}" defer></script>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>리뷰 등록 - 이화 마켓</title>
</head>
<body>


     {% extends "index.html" %}
    
    {% block section %}


        <content>
            <div class="info-section">
                <a class="info-block" href="/review_all" style="background-color:#c9d8b7;">상품 후기</a>
                <a class="info-block" href="/product_detail">상품 상세 정보</a>
            </div> 
        </content>
   
    <main>
        <div class="seller-review">
            <h2>판매자 서비스 평가</h2>
            <!--만약에 회사 이름 넣고 싶으면 추후 코드 추가-->
                <!--일단 좋아요 싫어요 누르는 버튼 넣어두었지만 추후 삭제 가능-->
        </div>
        <div class="question" id="question">배송, 포장, 질문, 응대, 상품 가격 등 판매자에대한 만족도는 어떠셨나요?</div>
        <input type="file">  
            <div class="input-container">
                <textarea id="review" name="review" placeholder="리뷰를 작성해주세요"></textarea>
            </div>

            <div class="evaluation-product">
                <h2>상품 품질 평가</h2>
                <!--만약 리뷰자 아이디를 받아와서 옆에서 계속 바뀌게 하고 싶으면 추후 삽입-->
                <!--해당 상품 사진이랑 상품명 수량 가져오는 것은 일단은 삭제했음-->
            </div>
            <div class="star-rating" data-current-rating="0">
                <div class="stars">
                   <span class="star" onclick="setRating(this)" data-value="1">&#9733;</span>
                   <span class="star" onclick="setRating(this)" data-value="2">&#9733;</span>
                   <span class="star" onclick="setRating(this)" data-value="3">&#9733;</span>
                   <span class="star" onclick="setRating(this)" data-value="4">&#9733;</span>
                   <span class="star" onclick="setRating(this)" data-value="5">&#9733;</span>
            </div>
        </div>
            <input type="file"><br>
            <input type="text" placeholder="제목을 작성해주세요" class="review-title">
            <label class="upload-image">
                
            </label>
            
            <div class="input-container2">
                <textarea id="pro-review" name="pro-review" placeholder="리뷰를 작성해주세요"></textarea>
            </div>
            <div class="button-container">
                <button id="submit-review" class="submit-button">리뷰 등록</button> 
            </div>
            
            
       
    </main>
   
        {% endblock section %}
</body>
</html>
