<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰보기</title>
    
     <link rel="stylesheet" href="{{ url_for('static', filename='5_review_all.css') }}">
</head>
<body>

{% extends "index.html" %}
    
    {% block section %}

        <content>
            <div class="info-section">
                <a class="info-block" href="/review_all" style="background-color:#c9d8b7;">상품 후기</a>
                <a class="info-block" href="/product_detail">상품 상세 정보</a>
            </div> 
        </content>
    
       <div class="uuuper">
        <h1 style="font-family: 'Noto Sans KR'; margin-left: 30px;"> 리뷰 전체 조회 </h1>
        <a href="/review_upload" class="review-button">리뷰 등록하기</a>
        </div>

       
        <div class="review-container">

            <div class="user-info">
                 <div class="user-icon">
                    <img src="{{ url_for('static', filename='images/10_user.png') }}" alt="User Icon">
                 </div>

                    <div class="buyer-section">
                        <div class="buyer-name">구매자 A</div>
                    </div>
                    </div>

                    <div class="item-details">
                        <div class="product-name" style="margin-bottom: 10px;">상품명</div>
                        <div class="seller-name" style="margin-bottom: 10px;">판매자명</div>
                        <div class="date-purchase">날짜</div>
                    </div>

                    <div class="info3">
                        
                    <div class="info-upper">
                    <div class="buyer-info">
                        <div class="seller-rating">별점: </div>
                    </div>

                    <div class="info-detail">
                        <span>★★★★☆</span>
                    </div>
                </div>
                

                <div class="info-preview">
                    <div>리뷰 미리보기</div>
                    <a href="/review_detail"> <img src="{{ url_for('static', filename='images/10_plus.png') }}"  class="more"> </a>
                </div>
            </div>
                    <div class="review-image-container">
                        <img src="{{ url_for('static', filename='images/10_img.png') }}" alt="Review Image" class="review-image">
                    </div>
               
           
        </div>  
    <div class="review-container">

            <div class="user-info">
                 <div class="user-icon">
                    <img src="{{ url_for('static', filename='images/10_user.png') }}" alt="User Icon">
                 </div>

                    <div class="buyer-section">
                        <div class="buyer-name">구매자 A</div>
                    </div>
                    </div>

                    <div class="item-details">
                        <div class="product-name" style="margin-bottom: 10px;">상품명</div>
                        <div class="seller-name" style="margin-bottom: 10px;">판매자명</div>
                        <div class="date-purchase">날짜</div>
                    </div>

                    <div class="info3">
                        
                    <div class="info-upper">
                    <div class="buyer-info">
                        <div class="seller-rating">별점: </div>
                    </div>

                    <div class="info-detail">
                     <span>★★★★☆</span>
                    </div>
                </div>
                

                <div class="info-preview">
                    <div>리뷰 미리보기</div>
                    <a href="/review_detail"> <img src="{{ url_for('static', filename='images/10_plus.png') }}"  class="more"> </a>
                </div>
            </div>
                    <div class="review-image-container">
                        <img src="{{ url_for('static', filename='images/10_img.png') }}" alt="Review Image" class="review-image">
                    </div>
               
           
        </div>  
 
    <div class="review-container">

            <div class="user-info">
                 <div class="user-icon">
                    <img src="{{ url_for('static', filename='images/10_user.png') }}" alt="User Icon">
                 </div>

                    <div class="buyer-section">
                        <div class="buyer-name">구매자 A</div>
                    </div>
                    </div>

                    <div class="item-details">
                        <div class="product-name" style="margin-bottom: 10px;">상품명</div>
                        <div class="seller-name" style="margin-bottom: 10px;">판매자명</div>
                        <div class="date-purchase">날짜</div>
                    </div>

                    <div class="info3">
                        
                    <div class="info-upper">
                    <div class="buyer-info">
                        <div class="seller-rating">별점: </div>
                    </div>

                    <div class="info-detail">
                    <span>★★★★☆</span>
                    </div>
                </div>
                

                <div class="info-preview">
                    <div>리뷰 미리보기</div>
                    <a href="/review_detail"> <img src="{{ url_for('static', filename='images/10_plus.png') }}"  class="more"> </a>
                </div>
            </div>
                    <div class="review-image-container">
                        <img src="{{ url_for('static', filename='images/10_img.png') }}" alt="Review Image" class="review-image">
                    </div>
               
           
        </div>  
 
 
        
        
        <div class="pagination">
            
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&gt;</a>
        </div>

        
    
    {% endblock section %}
</body>
</html>
