<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰보기</title>
    
     <link rel="stylesheet" href="{{ url_for('static', filename='5_review_all.css') }}">
</head>
<body>

{% extends "index.html" %}
    
    {% block section %}

        <content>
            <div class="info-section">
                <div class="info-block" id="product-reviews"  style="background-color:#c9d8b7;"> <a href="/review_all">상품 후기</a></div>
                <div class="info-block" id="seller-info"> <a href="/seller_info">판매자 정보</a></div>
                <div class="info-block" id="product-details"> <a href="/product_detail">상품 상세 정보</a></div> 
            </div> 
        </content>

        <div class="review-container">
            <div class="review-header">
                <div class="user-section">
                 <div class="user-icon">
                      <img src="{{ url_for('static', filename='images/10_user.png') }}" alt="User Icon">
                 </div>
               
                </div>
               
                <div class="item-container">
                    <div class="buyer-section">
                        <div class="buyer-name">구매자 A</div>
                    </div>

                    <div class="item-details">
                        <div class="product-name">상품명</div>
                        <div class="seller-name">판매자명</div>
                        <div class="date-purchase">날짜</div>
                    </div>

                    <div class="buyer-info">
                        <div class="seller-temperature">판매자 온도: 36.5°</div>
                        <div class="seller-rating">별점: ★★★★☆ </div>
                        <div class="review-preview">리뷰 미리보기</div>
                    </div>

                    <div class="review-image-container">
                          <img src="{{ url_for('static', filename='images/10_img.png') }}" alt="review image"  class="review-image">
                    </div>
                </div>
               
            </div>
           
        </div>  
        <div class="review-container">
            <div class="review-header">
                <div class="user-section">
                    <div class="user-icon">
                      <img src="{{ url_for('static', filename='images/10_user.png') }}" alt="User Icon">
                    </div>
            
                   </div>
                   <div class="item-container">
                    <div class="buyer-section">
                        <div class="buyer-name">구매자 B</div>
                    </div>
                    <div class="item-details">
                        <div class="product-name">상품명</div>
                        <div class="seller-name">판매자명</div>
                        <div class="date-purchase">날짜</div>
                    </div>

                    <div class="buyer-info">
                        <div class="seller-temperature">판매자 온도: 36.5°</div>
                        <div class="seller-rating">별점: ★★★★☆ </div>
                        <div class="review-preview">리뷰 미리보기</div>
                    </div>

                    <div class="review-image-container">
                         <img src="{{ url_for('static', filename='images/10_img.png') }}" alt="review image"  class="review-image">
                    </div>
                </div>
               
            </div>
            
        </div>  
        <div class="review-container">
            <div class="review-header">
                <div class="user-section">
                    <div class="user-icon">
                      <img src="{{ url_for('static', filename='images/10_user.png') }}" alt="User Icon">
                    </div>
            
                   </div>
                   <div class="item-container">
                    <div class="buyer-section">
                        <div class="buyer-name">구매자 C</div>
                    </div>
                    <div class="item-details">
                        <div class="product-name">상품명</div>
                        <div class="seller-name">판매자명</div>
                        <div class="date-purchase">날짜</div>
                    </div>

                    <div class="buyer-info">
                        <div class="seller-temperature">판매자 온도: 36.5°</div>
                        <div class="seller-rating">별점: ★★★★☆ </div>
                        <div class="review-preview">리뷰 미리보기</div>
                    </div>

                    <div class="review-image-container">
                         <img src="{{ url_for('static', filename='images/10_img.png') }}" alt="review image"  class="review-image">
                    </div>
                </div>
               
            </div>
            
        </div>
        <div class="pagination">
            
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&gt;</a>
        </div>

       <a href="/review_upload" class="review-button">리뷰 등록하기</a>
          

    
    {% endblock section %}
</body>
</html>
