<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='7_3_id_found.css') }}">
</head>
<body>
  
{% extends "index.html" %}
    
    {% block section %}

        <content>
            <div class="status">
                <p style="font-size:23px" > 아이디 찾기 </p> 
            </div> 
        </content>
        <div class="pw-texting">
            <p>인증이 성공적으로 완료되었습니다!<br>고객님의 ID는 <input type="text" name="idshowbox" readonly> 입니다.</p>
        </div>
    {% endblock section %}
</body>
</html>