<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='7_5_pw_reset.css') }}">
</head>
<body>
  
{% extends "index.html" %}
    
    {% block section %}


        <content>
            <div class="status">
                <p style="font-size:23px" > 비밀번호 찾기 </p> 
            </div> 
        </content>
        <div class="texting">
            <p>인증이 성공적으로 완료되었습니다!<br>휴대폰 번호로 새로운 비밀번호가 전송되었습니다.<br>새 비밀번호를 재설정해주시길 바랍니다.</p>
        </div>
    
        {% endblock section %}
</body>
</html>