<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='9_1_wishlist.css') }}">
</head>
<body>
  
{% extends "index.html" %}
    
    {% block section %}

    <content>
        <div class="status">
            <p style="font-size:23px" > 위시리스트(2) </p> 
        </div>
    </content>

  <div class="rside">
       
             
               
        <div id="product-container">
            <a href="/product_detail">
            <div class="product">
                <span class="product-img">
                     <img src="{{ url_for('static', filename='images/10_camera.jpg') }}" alt="product image">
                </span>
                <div class="product-info">
                    <p style="font-size: 25px; font-weight: bold;">카메라</p>
                    <p style="font-size: 18px;">
                        150000원<br>
                        감자<br>
                         36.5<br>
                        <span style="color:orange; font-size: 15px;">★★★★★(2)</span> <br>
                     <img src="{{ url_for('static', filename='images/10_wishbutton.png') }}" alt="wishbutton" style="width:45px; height:45px;">
                    </p>
                </div>
            </div>
        </a>
            
            <a href="/product_detail">
            <div class="product">
                <span class="product-img">
                     <img src="{{ url_for('static', filename='images/10_camera.jpg') }}" alt="product image">
                </span>
                <div class="product-info">
                    <p style="font-size: 25px; font-weight: bold;">카메라</p>
                    <p style="font-size: 18px;">
                        150000원<br>
                        감자<br>
                         36.5<br>
                        <span style="color:orange; font-size: 15px;">★★★★★(2)</span> <br>
                     <img src="{{ url_for('static', filename='images/10_wishbutton.png') }}" alt="wishbutton" style="width:45px; height:45px;">
                    </p>
                </div>
            </div>
        </a>
            
            <a href="/product_detail">
            <div class="product">
                <span class="product-img">
                     <img src="{{ url_for('static', filename='images/10_camera.jpg') }}" alt="product image">
                </span>
                <div class="product-info">
                    <p style="font-size: 25px; font-weight: bold;">카메라</p>
                    <p style="font-size: 18px;">
                        150000원<br>
                        감자<br>
                         36.5<br>
                        <span style="color:orange; font-size: 15px;">★★★★★(2)</span> <br>
                     <img src="{{ url_for('static', filename='images/10_wishbutton.png') }}" alt="wishbutton" style="width:45px; height:45px;">
                    </p>
                </div>
            </div>
        </a>
            
            <a href="/product_detail">
            <div class="product">
                <span class="product-img">
                     <img src="{{ url_for('static', filename='images/10_camera.jpg') }}" alt="product image">
                </span>
                <div class="product-info">
                    <p style="font-size: 25px; font-weight: bold;">카메라</p>
                    <p style="font-size: 18px;">
                        150000원<br>
                        감자<br>
                         36.5<br>
                        <span style="color:orange; font-size: 15px;">★★★★★(2)</span> <br>
                     <img src="{{ url_for('static', filename='images/10_wishbutton.png') }}" alt="wishbutton" style="width:45px; height:45px;">
                    </p>
                </div>
            </div>
        </a>


        </div>

    <br><br><br><hr style="border:1.5px solid black">


    <div class="pagination">
        
        <a href="#">&lt;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&gt;</a>
    </div>

      {% endblock section %}
    
</body>
</html>