<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='9_1_wishlist.css') }}">
</head>
<body>
  
{% extends "index.html" %}
    
    {% block section %}

    <content>
        <div class="status">
            <p style="font-size:23px" > 위시리스트(2) </p> 
        </div>
    </content>

    <div id="product-container">
        <a href="/product_detail">
        <div class="product">
            <span class="product-img">
                 <img src="{{ url_for('static', filename='images/10_camera.jpg') }}" alt="product image">
            </span>
            <div class="product-info">
                <p style="font-size: 23px;">카메라</p>
                <p style="font-size: 15px;">
                    150000원<br>
                    감자<br>
                    36.5<br>
                    <span style="color:orange">★★★★★(2)</span>
                <img src="{{ url_for('static', filename='images/10_wishbutton.png') }}" class="custom-button" alt="Wish Button">
                </p>
            </div>
        </div>
    </a>



    <a href="/product_detail">
        <div class="product">
            <span class="product-img">
                 <img src="{{ url_for('static', filename='images/10_camera.jpg') }}" alt="product image">
            </span>
            <div class="product-info">
                <p style="font-size: 23px;">에어팟</p>
                <p style="font-size: 15px;">
                    80000원<br>
                    고구마<br>
                    34.5<br>
                    <span style="color:orange">★★★★☆(2)</span>
               <img src="{{ url_for('static', filename='images/10_wishbutton.png') }}" class="custom-button" alt="Wish Button">
                </p>
            </div>
        </div>
    </a>

</div>

    <br><br><br><hr style="border:1.5px solid black">


    <div class="pagination">
        
        <a href="#">&lt;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&gt;</a>
    </div>

      {% endblock section %}
    
</body>
</html>